<div class="flex-wrap">
    <div class="info-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque velit ratione deleniti architecto quisquam esse, maxime optio ducimus ab nihil!</div>
    <div class="info-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quisquam eius. Reiciendis vero assumenda eum veritatis, labore tempore suscipit modi.</div>
    <div class="info-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem non, quaerat incidunt iure ducimus nisi rem itaque eum minus voluptatem?</div>
</div>