.ticket{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.ticket-header{
    height:105px;
    width: 100%;
    padding: 15px 40px;
    border-left: 4px solid #bfc2cb;
}

.bordered{
    border-bottom: 1px dashed #a3a3a3;
}

.price-block{
    float:right;
    padding: 20px 40px;
    background-color: #0088d4;
    text-align: center;
}
.price{
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
}
.price-block:hover{
    cursor: pointer;
}
.company-name{
    color: #000;
    font-size: 1.15rem;
    float: left;
}
.ticket-body{
    width:100%;
    display: inline-block;
    border-left: 4px solid #0088d4;
}
.info-line{
    padding: 15px 40px;
    width:50%;
    display: inline-block;
}
.info-text{
    color:#646464;
}
.body-main{
    background-color: #e9e9e9;
}

.city{
    color:#0088d4;
    font-size:1.1rem;
    margin-right: 10px;
}
.airport{
    color:#646464;

}
.airport::after{
    margin-left:3px;
    content: url('../../assets/pin.png');
}

.time{
    font-size: 1.3rem;
}

.time-in-road{
    font-size:1.15rem;
}