<div class="header">
    <div class="wrap">
        <span id="logo">
            <img src="../assets/logo.png" alt=""></span>
        <div class="wrap-right">
            
        </div>
    </div>
</div>

<app-ticket-page>

</app-ticket-page>

<div class="wrap">

</div>
<app-form></app-form>

<app-search-page>

</app-search-page>

<app-info-blocks></app-info-blocks>
<!-- <p>Healthcheck: {{ serverString }}</p>

<select name="locations" id="locations">
    <option *ngFor="let location of locations" value="location.id">{{location.country + " - " + location.city}}</option>
</select>
<button mat-button>Hihihi</button> -->