<div class="ticket-body bordered">
    <div class="info-line bordered">
        <span class="info-text city">Kyiv</span>
        <span class="airport">Zhulyani</span>
    </div>
    <div class="info-line bordered">
        <span class="city">Barcelona</span>
        <span class="airport">Zalupyani</span>
    </div>
    <div class="body-main">
        <div class="info-line">
            <div class="date-time info-line">
                <!-- <mat-icon svgIcon="plane"></mat-icon> -->
                <div class="time">9:45</div>
                <div class="date info-text">date</div>
            </div>
            <div class="date-time info-line">
                <div class="time-in-road">time-in-road</div>
                <div class="info-text">ticket-class</div>
            </div>
        </div>
        <div class="info-line">
            <div class="date-time info-line">
                <div class="time">9:45</div>
                <div class="date info-text">date</div>
            </div>
            <div class="date-time info-line">
                <div class="time-in-road">time-in-road</div>
                <div class="info-text">ticket-class</div>
            </div>
        </div>
        </div>
</div>